html, body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-weight: 300;
	line-height: 1.5;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url('bg.png');
  background-position: center top;
  background-size: cover;
  background-attachment:fixed;
  margin: 0;

  padding-left:20%;

}

.blogroll {
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	width:60%;
	background-color: #eeeeee;
	padding-left:2em;
	padding-right:2em;
	border-right: 0.5em solid #c1c1c1;
}

.blog-post-meta {
	font-size:0.85em;
}

.sep {
	height:3em;
	width:100%;
}

header {
	padding-top:1em;
	color:#eeeeee;

	background-color: #222222;

	width:65%;
}

.nav {
	padding-top:2%;
}

.nav ul {
    *zoom:1;
    list-style:none;
    margin:0;
    padding:0;
    background:#333;
}
.nav ul:before,.nav ul:after {
    content:"";
    display:table;
}
.nav ul:after {
    clear:both;
}
.nav ul > li {
    float:left;
    position:relative;
}
.nav a, li {
    display:block;
    padding:10px 20px;
    line-height:1.2em;
    color:#fff;
    border-left:1px solid #595959;
}
.nav a:hover {
    text-decoration:none;
    background:#595959;
}
.nav li ul {
    background:#273754;

}
.nav li ul li {
    width:200px;
}
.nav li ul a {
    border:none;
}
.nav li ul a:hover {
    background:rgba(0,0,0,0.2);
}

.nav li ul {
    position:absolute;
    left:0;
    top:36px;
    z-index:1;
    visibility:hidden;
    opacity:0;
    filter:alpha(opacity=0);
    transition:50ms ease;
}
.nav ul > li:hover ul {
    visibility:visible;
    opacity:1;
    filter:alpha(opacity=100);
}